*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body {
     font-family: 'Roboto', sans-serif;
     background-color: #48cae4 !important;
    header {
         .container{
              font-weight: bolder;
              font-size: 25px;
              .navbar-brand {
               font-weight: bolder;
               font-size: 25px;
              }
              .nav-link{
               transition: transform .2s;
               color: black !important;
               &:hover{
                    transform: scale(1.2);
               }
              }
         }
         
    }
    main {
         .content {
              border-radius: 10px ;
              padding-bottom: 20px;
               background-color: #90e1ef50;
               color: white;
               font-weight:normal;
              font-size: 25px;
         }
         .project {
              height: 200px;
              border-color: white !important;
              border-radius: 10px;
              background-color: #48cae4;
              h1 {
                   color: white;
                   font-weight: bolder;
              }
          }
    }
    footer {
         height: 100px;
         background-color: black;
         text-align: center;
         color: white;
         a {
              text-decoration: none !important;
              font-size: larger;
               color: white;
         }
    }
}